@media (max-width: 550px) {
    .p-form-5 {
        padding-top:  3rem !important;
        padding-bottom:  3rem !important;
    }
    .w-mobile-100 {
        width: 100%!important;
    }
    .m-mobile-x-0 {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .p-mobile-x-0 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
